#slogxt-modal-dialog-wrapper #slogxt-dialog-content form,
#slogxt-modal-dialog-wrapper #slogxt-dialog-content .form-wrapper,
#slogxt-modal-dialog-wrapper #slogxt-dialog-content .form-item
{
    margin-bottom: 0;
}
#slogxt-modal-dialog-wrapper .slogxt-input-field .filter-guidelines,
#slogxt-modal-dialog-wrapper .slogxt-input-field .filter-guidelines-item
{
    margin: 0 4px;
}
#slogxt-modal-dialog-wrapper #slogxt-dialog-content .slogxt-input-field.xt-last-wrapper {
    margin-bottom: 1em;
}
#slogxt-modal-dialog-wrapper #slogxt-dialog-content .slogxt-input-field.slogxt-input-inline .js-form-type-radio {
    float: left;
    margin-right: 10px;
}
#slogxt-modal-dialog-wrapper #slogxt-dialog-content .slogxt-input-field.slogxt-input-inline div.description {
    clear: both;
}

#slogxt-modal-dialog-wrapper #slogxt-dialog-content .messages--warning.slogxt-msg {
    position: relative;
}
#slogxt-modal-dialog-wrapper #slogxt-dialog-content .messages--warning.slogxt-msg-closed {
    height: 8px;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
    box-shadow: -4px 0 0 #e09600;
    background-image: none;
}
#slogxt-modal-dialog-wrapper #slogxt-dialog-content .messages--warning.slogxt-msg > .sxt-msg-toggler {
    position: absolute;
    background-color: wheat;
    width: 24px;
    height: 24px;
    top: 0;
    right: 0;
    background-image: url("icons/circle-up.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px auto;
}
#slogxt-modal-dialog-wrapper #slogxt-dialog-content .messages--warning.slogxt-msg.slogxt-msg-closed > .sxt-msg-toggler {
    background-image: url("icons/circle-down.svg");
}

body.slogxt-page #slogxt-modal-dialog-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 3px gray solid;
}
body.slogxt-page > .ui-widget-overlay,
body.slogxt-page #slogxt-modal-dialog-wrapper > .ui-widget-overlay {
    opacity: 0.3;
    filter: Alpha(Opacity=30);
    z-index: 9990;
}
body.slogxt-page #slogxt-modal-dialog-wrapper > .ui-widget-overlay.xt-transparent {
    opacity: 0.0;
    filter: Alpha(Opacity=0);
}
#slogxt-modal-dialog-widget-for-navigate,
#slogxt-modal-dialog-widget {
    z-index: 9998;
    margin: 0;
    border-color: #4d4d4d; 
    border-radius: 8px;
}

#slogxt-modal-dialog-widget-for-navigate.ui-dialog.maximized,
#slogxt-modal-dialog-widget.ui-dialog.maximized {
    width: auto !important;
    height: auto !important;
    left: 10px !important;
    right: 10px !important;
    top: 10px !important;
}

#slogxt-modal-dialog-widget-for-navigate.ui-widget article.node,
#slogxt-modal-dialog-widget.ui-widget article.node {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 0.909091em;
    padding: 0 5px;
}
#slogxt-modal-dialog-widget-for-navigate .button,
#slogxt-modal-dialog-widget .button {
    padding: 4px 12px;
}

#slogxt-modal-dialog-widget span.xt-highlight {
    font-weight: bold;
}
#slogxt-modal-dialog-widget span.xt-highlight.xt-warn {
    color: red;
}

#slogxt-modal-dialog-widget .messages article.node header {
    display: none;
}
#slogxt-modal-dialog-widget.xtmessage.xtmsg-info {
    border-color: DarkSlateGrey;
}
#slogxt-modal-dialog-widget.xtmessage.xtmsg-info #slogxt-modal-dialog-titlebar,
#slogxt-modal-dialog-widget.xtmessage.xtmsg-info #slogxt-modal-dialog-buttonpane {
    background-color: DarkSlateGrey;
}
#slogxt-modal-dialog-widget.xtmessage.xtmsg-warning {
    border-color: Peru;
}
#slogxt-modal-dialog-widget.xtmessage.xtmsg-warning #slogxt-modal-dialog-titlebar,
#slogxt-modal-dialog-widget.xtmessage.xtmsg-warning #slogxt-modal-dialog-buttonpane {
    background-color: Peru;
}
#slogxt-modal-dialog-widget.xtmessage.xtmsg-error {
    border-color: DarkRed;
}
#slogxt-modal-dialog-widget.xtmessage.xtmsg-error #slogxt-modal-dialog-titlebar,
#slogxt-modal-dialog-widget.xtmessage.xtmsg-error #slogxt-modal-dialog-buttonpane {
    background-color: DarkRed;
}

#slogxt-modal-dialog-titlebar {
    padding: 8px;
    border-bottom: 2px solid white;
    border-radius: 6px 6px 0 0;
    background-color: #4d4d4d;
}
#slogxt-modal-dialog-titlebar > .ui-dialog-title {
    width: auto;
    color: white;
}
#slogxt-modal-dialog-titlebar .ui-dialog-buttonset.slogxt-system {
    position: absolute;
    right: 10px;
    top: 8px;
    padding: 0;
}
#slogxt-modal-dialog-titlebar .ui-dialog-buttonset.slogxt-system > .ui-button {
    position: relative;
    margin: 0;
    padding: 6px;
    float: right;  
    height: 26px;
    width: 26px;
    right: auto;
    top: auto;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
}

#slogxt-modal-dialog-buttonpane {
    padding: 0 10px;
    background-color: #4d4d4d;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid white;
}
#slogxt-modal-dialog-buttonpane .ui-dialog-buttonset {
    margin-top: 4px;
}
#slogxt-modal-dialog-for-navigate,
#slogxt-modal-dialog {
    background-color: lavender;
    margin: 0;
    padding: 2px;
    position: relative;
    display: none;
}
#slogxt-modal-dialog-for-navigate ul.slogxt-list,
#slogxt-modal-dialog ul.slogxt-list {
    background-color: silver;
    margin: 0 0 15px;
    padding: 0;    
}
#slogxt-modal-dialog-for-navigate .messages,
#slogxt-modal-dialog .messages {
    margin: 0 6px 15px 12px;
}
#slogxt-dialog-content .sxt-at-work  {
    height:120px;
    margin: 20px;
    background-image: url("icons/at-work.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 120px auto;
    position: relative;
    /*background-color: khaki;*/
}
#slogxt-dialog-content .sxt-at-work .sxt-at-work-info {
    position: absolute;
    top: 70px;
    left: 140px; 
    font-size: 24px;
    font-weight: bold;
}
#slogxt-dialog-content .tabs-content > .preview,
#slogxt-dialog-content .tabs-content.show-preview > form  {
    display: none;
}
#slogxt-dialog-content .tabs-content > .xt-dialog-view.preview,
#slogxt-dialog-content .tabs-content.show-preview > .preview  {
    display: block;
}
#slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
#slogxt-modal-dialog h2.slogxt-preview-title {
    margin: 0 0 10px;
    padding: 5px;
    color: ivory;
    background-color: steelblue;
    font-size: 14px;
}


#slogxt-dialog-content .tabs-content,
#slogxt-dialog-content.slogxt-has-tabs {
    background-color: lavender;
    min-height: 120px;
    padding-bottom: 0;
    /*padding-bottom: 10px;*/
}
#slogxt-dialog-content form {
    margin: 15px;
}

#slogxt-dialog-content ul.slogxt-list li {
    background-color: lavender;
    border-bottom: 1px solid white;
    display: block;
    margin: 0;
    padding: 2px 10px;    
    cursor: pointer;
}
#slogxt-dialog-content ul.slogxt-list li.is-current {
    margin-left: 12px;
}
#slogxt-dialog-content .li-no-margin ul.slogxt-list li.is-current {
    margin-left: 0;
}
#slogxt-dialog-content ul.slogxt-list li .li-title {
    min-height: 40px;
}
#slogxt-dialog-content ul.slogxt-list li .li-title > .button.slogxt-li-button {
    /*//todo::current:: ----sxt_sxt_workflow --- current - htmlLiButton*/
    text-align: center;
    width: 20px;
    height: 18px;
    padding: 4px 6px 1px;
    margin: 2px -4px 0 4px;
    background-color: whitesmoke;
    float: right;
}

#slogxt-dialog-content ul.slogxt-list li .item-details,
#slogxt-dialog-content ul.slogxt-list li .item-dlabel,
#slogxt-dialog-content ul.slogxt-list li .item-plabel {
    position: relative;
    min-height: 17px;
    margin-bottom: -3px;
    overflow: hidden;
}
#slogxt-dialog-content ul.slogxt-list li .item-dlabel {
    margin: -6px 0 0;
}
#slogxt-dialog-content ul.slogxt-list.header-style li .item-dlabel {
    margin: 0 0 -6px;
}

#slogxt-dialog-content ul.slogxt-list li .item-plabel > span {
    font-size: 11px;
    position: absolute;
    top: 2px;
    height: 17px;
    overflow: hidden;
    white-space: nowrap;
}
#slogxt-dialog-content ul.slogxt-list li .item-details,
#slogxt-dialog-content ul.slogxt-list li .item-dlabel > span {
    font-size: 11px;
    display: inline-block;
    line-height: 12px;
    margin: 6px 0 0; 
}
#slogxt-dialog-content ul.slogxt-list li .item-details {
    display: none;
}
#slogxt-dialog-content ul.slogxt-list li.checked .item-details,
#slogxt-dialog-content ul.slogxt-list li.is-current .item-details {
    display: block;
    margin-bottom: 6px;
}

#slogxt-modal-dialog-widget-for-navigate .sxt-button,
#slogxt-modal-dialog-widget .sxt-button {
    float: left;
    height: 24px;
    width: 24px;
    margin: 0 10px 0 0;
    background-image: url("icons/cog.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-color: silver;
    border: 2px solid #ccc;
    border-color: #fff #787878 #787878 #fff;
    cursor: pointer;
}
#slogxt-modal-dialog-widget-for-navigate .button.sxt-do-button,
#slogxt-modal-dialog-widget .button.sxt-do-button {
    float: right;
    margin: 6px 6px 18px;
    padding: 2px 8px;
    width: auto;
    background-image: none;
}


#slogxt-do-navigate-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    padding: 6px;
    width: 150px;
    border: 2px solid DarkRed;
    border-radius: 8px;
    background-color: #4d4d4d;
    overflow: hidden;
    z-index: 9999;
}
#slogxt-do-navigate-wrapper .slogxt-don-info {
    margin-top: 33px;
    font-size: 90%;
    height: 18px;
    width: 100%;
    color: white;
    overflow: hidden;
    white-space: nowrap;
}
#slogxt-do-navigate-wrapper .sxt-button {
    height: 28px;
    width: 28px;
    margin: 0 3px 0 0;
    border: 1px solid gray;
    cursor: pointer;
    float: left;
    background-color: silver;
    background-image: url("icons/cog.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;
    border-radius: 8px;
}
#slogxt-do-navigate-wrapper .slogxt-don-btn-move {
    background-image: url("icons/move.svg");
}
#slogxt-do-navigate-wrapper .sxt-button.slogxt-don-btn-submit {
    background-image: url("icons/checkmark.svg");
}
#slogxt-do-navigate-wrapper.select-multiple .sxt-button.slogxt-don-btn-submit {
    background-image: url("icons/documentadd.svg");
}
#slogxt-do-navigate-wrapper .sxt-button.slogxt-don-btn-abort {
    background-image: url("icons/undo2.svg");
}
#slogxt-do-navigate-wrapper.select-multiple .sxt-button.slogxt-don-btn-abort {
    background-position-y: 0;
    position: relative;
}
#slogxt-do-navigate-wrapper .sxt-button.slogxt-don-btn-abort div {
    display: none;
}
#slogxt-do-navigate-wrapper.select-multiple .sxt-button.slogxt-don-btn-abort div {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 0.85em;
    color: darkred;
    display: block;
}
#slogxt-do-navigate-wrapper .slogxt-don-dlg-abort {
    margin: 0;
    float: right;
    background-image: url("icons/exit.svg");
}

#slogxt-do-navigate-wrapper .sxt-button.slogxt-don-btn-submit.disabled {
    background-color: silver;
    opacity: 0.3;
    filter: Alpha(Opacity=30);
    cursor: auto;
    background-image: url("icons/blocked.svg");
}

#slogxt-do-navigate-wrapper.don-hide-select {
    width: 108px;
}
#slogxt-do-navigate-wrapper.don-hide-select .sxt-button.slogxt-don-btn-submit,
#slogxt-do-navigate-wrapper.don-hide-select .slogxt-don-info {
    display: none;
}

#slogxt-modal-dialog-widget-for-navigate .actions-wrapper .sxt-button.ui-icon-actions,
#slogxt-modal-dialog-widget .actions-wrapper .sxt-button.ui-icon-actions {
    background-image: url("icons/pencil.svg");
    float: right;
}
#slogxt-modal-dialog-widget-for-navigate .sxt-button.checked,
#slogxt-modal-dialog-widget .sxt-button.checked {
    border-color: #787878 #fff #fff #787878;
    background-color: lavender;
}
#slogxt-modal-dialog-widget-for-navigate .actions-wrapper,
#slogxt-modal-dialog-widget .actions-wrapper {
    float: left;
    height: 28px;
    margin: 8px 0 0;
}
#slogxt-modal-dialog-widget-for-navigate .actions-wrapper .actions-content,
#slogxt-modal-dialog-widget .actions-wrapper .actions-content {
    float: left;
    display: none;
}
#slogxt-modal-dialog-buttonpane.editing .slogxt-icon.actions-checkbox {
    margin: 6px 8px 0 3px;
    display: block;
}
#slogxt-modal-dialog-buttonpane.action-for-radios .actions-content,
#slogxt-modal-dialog-buttonpane.editing .actions-content {
    margin: 0 4px 0 -2px;
    display: block;
}

#slogxt-modal-dialog-buttonpane .dropbutton-wrapper.slogxt-dropbutton {
    position: relative;
    top: 0;
    right: 0;
}
.slogxt-dropbutton li.dropbutton-toggle {
    z-index: 10;
}
#slogxt-modal-dialog-buttonpane .slogxt-dropbutton li.dropbutton-toggle button {
    margin: 0;
}
#slogxt-modal-dialog-buttonpane .dropbutton-wrapper .dropbutton-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: #4d4d4d;
    border-radius: 20em;
    opacity: 0.5;
    filter: Alpha(Opacity=50);
    z-index: 9990;    
}
#slogxt-modal-dialog-buttonpane .dropbutton-wrapper.disabled .dropbutton-overlay {
    display: block;
}


#slogxt-modal-dialog-buttonpane .slogxt-icon.actions-checkbox,
#slogxt-dialog-content ul.slogxt-list .li-checkbox,
#slogxt-dialog-content ul.slogxt-list .li-radio {
    float: left;
    min-height: 36px;
    width: 30px;
    background-position: 0 6px;
    background-repeat: no-repeat;
    background-size: 24px auto;
    display: none;
}
#slogxt-modal-dialog-buttonpane .slogxt-icon.actions-checkbox,
#slogxt-dialog-content ul.slogxt-list .li-checkbox {
    background-image: url("icons/checkbox-unchecked.svg");
}
#slogxt-modal-dialog-buttonpane.action-for-radios .actions-wrapper {
    margin-top: 3px;
}

#slogxt-dialog-content ul.slogxt-list .li-radio {
    background-image: url("icons/radio-unchecked.svg");
}

#slogxt-dialog-content ul.slogxt-list.icons li .li-title {
    background-image: url("icons/cog.svg");
    padding-left: 28px;
    background-position: 5px 12px;
    background-repeat: no-repeat;
    background-size: 16px auto;
}
#slogxt-dialog-content .type-checkboxes ul.slogxt-list .li-checkbox,
#slogxt-dialog-content .type-radios ul.slogxt-list .li-radio {
    display: block;
}
#slogxt-dialog-content .type-checkboxes ul.slogxt-list .li-title,
#slogxt-dialog-content .type-radios ul.slogxt-list .li-title {
    margin-left: 36px;
}
#slogxt-dialog-content .type-select ul.slogxt-list .li-title.level1 {
    margin-left: 18px;
    margin-right: -10px;
    background-color: #e6e6ef;
}
#slogxt-dialog-content .type-select.type-checkboxes ul.slogxt-list .li-title.level1,
#slogxt-dialog-content .type-select.type-radios ul.slogxt-list .li-title.level1 {
    margin-left: 54px;
}
#slogxt-dialog-content .type-select ul.slogxt-list .li-title.level2 {
    margin-left: 36px;
    margin-right: -10px;
    background-color: #e6e6e6;
}
#slogxt-dialog-content .type-select.type-checkboxes ul.slogxt-list .li-title.level2,
#slogxt-dialog-content .type-select.type-radios ul.slogxt-list .li-title.level2 {
    margin-left: 72px;
}
#slogxt-dialog-content .type-select ul.slogxt-list li.is-current .li-title.level1 {
    margin-left: 6px;
}
#slogxt-dialog-content .type-select ul.slogxt-list li.is-current .li-title.level2 {
    margin-left: 24px;
}
#slogxt-dialog-content .type-select.type-checkboxes ul.slogxt-list li.is-current .li-title.level1,
#slogxt-dialog-content .type-select.type-radios ul.slogxt-list li.is-current .li-title.level1 {
    margin-left: 42px;
}
#slogxt-dialog-content .type-select.type-checkboxes ul.slogxt-list li.is-current .li-title.level2,
#slogxt-dialog-content .type-select.type-radios ul.slogxt-list li.is-current .li-title.level2 {
    margin-left: 60px;
}

#slogxt-dialog-content {
    border-top: 1px solid gray;
}
#slogxt-dialog-tabs-helper {
    background-color: lavender;
    height: 5px;
    width: 0;
    z-index: 2;
}
#slogxt-dialog-tabs:not(.visually-hidden) {
    position: relative;
    width: 100%;
}
#slogxt-dialog-tabs,
#slogxt-dialog-tabs > div.tabs-item {
    margin: 0;
    padding: 0;
    display: table;
}

#slogxt-dialog-tabs > div.tabs-item {
    height: 24px;
    margin: 0 3px 0 0;
    border: 1px solid gray;
    float: left;
    cursor: pointer;
    background-color: silver;
    border-radius: 8px;
}
#slogxt-dialog-tabs > div.tabs-item.actions-wizard {
    display: none !important;
}
#slogxt-dialog-tabs.iconized > div.tabs-item {
    width: 24px;
    background-image: url("icons/cog.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}
#slogxt-dialog-tabs span.tab-label {
    font-size: 0.8em;
    padding: 0 6px;
    min-width: 24px;
}
#slogxt-dialog-tabs.iconized  span.tab-label {
    display: none;
}

#slogxt-dialog-tabs > div.tabs-item {
    margin: 2px 0 0;
    border-bottom: none;
    background-position: 6px 6px;
    border-radius: 12px 0 0 0;
}
#slogxt-dialog-tabs > div.tabs-item.active {
    margin-top: 0;
    height: 26px;
    background-color: lavender;
    cursor: auto;
}
#slogxt-modal-dialog ul.slogxt-list li.xt-toolbar-icon.tbsys-icon > .li-title,
#slogxt-modal-dialog #slogxt-bmstoragedialog-0 li.bm-toolbar-icon.tbsys-icon > .li-title,
#slogxt-modal-dialog #slogxt-bookmarkdialog-0 li.bm-toolbar-icon.tbsys-icon > .li-title,
#slogxt-modal-dialog #slogxt-bookmarkdialog-list li.bm-toolbar-icon.tbsys-icon > .li-title,
#slogxt-modal-dialog-for-navigate #slogxt-bookmarkdialog-list li.bm-toolbar-icon.tbsys-icon > .li-title,
#slogxt-modal-dialog-for-navigate #slogxt-dialog-tabs > div.tabs-item.xtsi-icon-_sys,
#slogxt-modal-dialog #slogxt-dialog-tabs > div.tabs-item.xtsi-icon-_sys {
    background-image: url("icons/stack.svg");
}


#slogxt-modal-dialog.has-wizard-path #slogxt-dialog-tabs > div.tabs-item {
    padding: 0 4px;
    margin: 2px;
    border: none;
    background-color: gainsboro;
    border-radius: 8px;
    font-size: 11px;
    line-height: 2.0;
}
#slogxt-modal-dialog.has-wizard-path #slogxt-dialog-tabs > div.tabs-item.active {
    height: 24px;
    background-color: lavender;
}
#slogxt-modal-dialog.has-wizard-path #slogxt-dialog-content {
    border-top-color: silver; 
}

body.hide-sxt-info .ui-dialog-content .messages.slogxt-info {
    display: none;
}


#slogxt-dialog-content .ajax-progress .throbber,
#slogxt-dialog-content .ajax-progress .message,
#slogxt-dialog-content .slogxt-ajax-placeholder {
    display: inline-block !important;
}
#slogxt-dialog-content .ajax-progress.ajax-progress-throbber {
    background: transparent;
    background-image: none;
    border: none;
    height: auto;
    left: auto;
    opacity: 1;
    filter: Alpha(Opacity=100);
    padding: 0;
    position: static;
    top: auto;
    width: auto;
    margin-left: 6px;
    z-index: 0;
}

#slogxt-dialog-content .form-managed-file img {
    float: right;
}
#slogxt-dialog-content #sxt-item-action {
    display: none;
    float: right;
    height: 30px;
    width: 30px;
    /*background-color: khaki;*/
    margin: 3px -6px 0 3px;
}
#slogxt-dialog-content li.is-current #sxt-item-action {
    display: block;
}
#slogxt-dialog-content li.has-cancel #sxt-item-action {
    background-image: url("icons/cancel-circle.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% auto;
}
