/**
 * @file
 * Styling for sjq-XX-lout theme icons.
 */

.slogxt-dropbutton .dropbutton-action a.icon-dummy:before {
    background-image: url("icons/on-construction.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-properties:before {
    background-image: url("icons/cogs.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-login:before {
    background-image: url("icons/enter.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-logout:before {
    background-image: url("icons/exit.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-contact:before {
    background-image: url("icons/mail.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-about:before {
    background-image: url("icons/info.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-appearance:before {
    background-image: url("icons/eye.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-repair:before {
    background-image: url("icons/aid-kit.svg");
}

.slogxt-dropbutton .dropbutton-action a.icon-profile:before {
    background-image: url("icons/profile.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-role:before {
    background-image: url("icons/role.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-promoted:before {
    background-image: url("icons/promoted.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-surprise:before {
    background-image: url("icons/surprise.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-refresh:before {
    background-image: url("icons/refresh.svg");
}

.slogxt-dropbutton .dropbutton-action a.icon-archive:before {
    background-image: url("icons/archive.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-trash:before {
    background-image: url("icons/trash.svg");
}

.slogxt-dropbutton .dropbutton-action a.icon-history-remove:before {
    background-image: url("icons/history-remove.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-bookmark:before {
    background-image: url("icons/bookmark-add.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-xt-open:before {
    background-image: url("icons/folder-open.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-xt-save:before {
    background-image: url("icons/floppy-disk.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-bookmark-remove::before,
.slogxt-dropbutton.has-bookmark .dropbutton-action a.icon-bookmark:before {
    background-image: url("icons/bookmark-remove.svg");
}

.slogxt-dropbutton .dropbutton-action a.icon-navigate:before {
    background-image: url("icons/compass.svg");
}
#slogxt-modal-dialog-buttonpane #sxtbtn-do-navigate.icon-navigate {
    width: 36px;    
}
#slogxt-modal-dialog-buttonpane #sxtbtn-do-navigate.icon-navigate:before {
    padding-top: 1px;
    left: 8px;
    background-image: url("icons/compass.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-vote:before {
    background-image: url("icons/star-empty.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-edit:before {
    background-image: url("icons/pencil.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-print:before {
    background-image: url("icons/printer.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-pdf:before {
    background-image: url("icons/file-pdf.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-shuffle:before {
    background-image: url("icons/shuffle.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-duplicate:before {
    background-image: url("icons/duplicate.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-menu-create:before {
    background-image: url("icons/menu-create.svg");
}



/*
 * ui-dialog
 */
#slogxt-modal-dialog-widget-for-navigate .sxt-button.ui-icon-pushpin,
#slogxt-modal-dialog-widget .sxt-button.ui-icon-pushpin {
    background-image: url("icons/pushpin.svg");
}
#slogxt-modal-dialog-buttonpane .slogxt-icon.actions-checkbox.checked,
#slogxt-modal-dialog-for-navigate ul li.checked .li-checkbox,
#slogxt-modal-dialog ul li.checked .li-checkbox {
    background-image: url("icons/checkbox-checked.svg");
}
#slogxt-modal-dialog-buttonpane .slogxt-icon.actions-checkbox.undefined {
    background-image: url("icons/checkbox-undefined.svg");
}
#slogxt-dialog-content ul.slogxt-list li.checked .li-radio {
    background-image: url("icons/radio-checked.svg");
}
#slogxt-dialog-tabs.iconized > div.tabs-item.icon-tab-bm-content,
#slogxt-modal-dialog-for-navigate ul.bookmarks li.content-bookmark .li-title,
#slogxt-modal-dialog ul.bookmarks li.content-bookmark .li-title {
    background-image: url("icons/document.svg");
}
#slogxt-dialog-tabs.iconized > div.tabs-item.icon-tab-bm-list,
#slogxt-modal-dialog-for-navigate ul.bookmarks li.list-bookmark .li-title,
#slogxt-modal-dialog ul.bookmarks li.list-bookmark .li-title {
    background-image: url("icons/list.svg");
}


.xt-tbline-wrapper #xt-tbtab-xtsearch {
    background-image: url("icons/loupe.svg");
}

            /**
             * sjq-XX-lout-preloads

            #sjq-XX-lout-preloads {
               position: absolute;
               overflow: hidden;
               left: -9999px; 
               top: -9999px;
               height: 1px;
               width: 1px;
            }


            *
             * ui-layout-resizer

            #sjq-XX-lout-preloads #sjq-XX-lout-pl-slide-right,
            #page-sjq-XX-lout > .ui-layout-resizer-west .sjq-XX-lout-toggler,
            #page-sjq-XX-lout > .ui-layout-resizer-east.ui-layout-resizer-east-open .sjq-XX-lout-toggler  {
                background-image: url("icons/slide-right.svg");
            }
            #sjq-XX-lout-preloads #sjq-XX-lout-pl-slide-left,
            #page-sjq-XX-lout > .ui-layout-resizer-east .sjq-XX-lout-toggler,
            #page-sjq-XX-lout > .ui-layout-resizer-west.ui-layout-resizer-west-open .sjq-XX-lout-toggler  {
                background-image: url("icons/slide-left.svg");
            }

            *
             * dropbutton

            body.slogxt-page .slogxt-dropbutton .dropbutton-action a.icon-login:before {
                background-image: url("icons/enter.svg");
            }
            body.slogxt-page .slogxt-dropbutton .dropbutton-action a.icon-logout:before {
                background-image: url("icons/exit.svg");
            }
            body.slogxt-page .slogxt-dropbutton .dropbutton-action a.icon-profile:before {
                background-image: url("icons/user.svg");
            }
            body.slogxt-page .slogxt-dropbutton .dropbutton-action a.icon-promoted:before {
                background-image: url("icons/target.svg");
            }
            body.slogxt-page .slogxt-dropbutton .dropbutton-action a.icon-tbsys-surprise:before {
                background-image: url("icons/magic-wand-tbsys.svg");
            }
            body.slogxt-page .slogxt-dropbutton .dropbutton-action a.icon-administer:before {
                background-image: url("icons/wrench.svg");
            }
            body.slogxt-page .slogxt-dropbutton .dropbutton-action a.icon-clear-sstorage:before {
                background-image: url("icons/clear-sstorage.svg");
            }
            body.slogxt-page .slogxt-dropbutton .dropbutton-action a.icon-clear-lstorage:before {
                background-image: url("icons/clear-lstorage.svg");
            }
            body.slogxt-page .slogxt-dropbutton .dropbutton-action a.icon-clear-idb:before {
                background-image: url("icons/clear-idb.svg");
            }
            body.slogxt-page .slogxt-dropbutton .dropbutton-action a.icon-reload:before {
                background-image: url("icons/spinner.svg");
            }

            #page-sjq-XX-lout .dropbutton-action a.header-action.icon-close:before {
                background-image: url("icons/exit.svg");
            }
            #page-sjq-XX-lout .dropbutton-action a.header-action.icon-remove:before {
                background-image: url("icons/chross.svg");
            }
            #page-sjq-XX-lout .dropbutton-action a.header-action.icon-history-remove:before {
                background-image: url("icons/history-remove.svg");
            }
            #page-sjq-XX-lout .dropbutton-action a.header-action.icon-bookmark:before {
                background-image: url("icons/bookmark-add.svg");
            }
            #page-sjq-XX-lout .dropbutton-wrapper.has-bookmark a.header-action.icon-bookmark:before {
                background-image: url("icons/bookmark-remove.svg");
            }
            #page-sjq-XX-lout .dropbutton-action a.header-action.icon-split:before {
                background-image: url("icons/pagebreak.svg");
            }
            #page-sjq-XX-lout .dropbutton-action a.header-action.icon-edit:before {
                background-image: url("icons/pencil.svg");
            }
            #page-sjq-XX-lout .dropbutton-action a.header-action.icon-duplicate:before {
                background-image: url("icons/duplicate.svg");
            }
            #page-sjq-XX-lout .dropbutton-action a.header-action.icon-refresh:before {
                background-image: url("icons/refresh.svg");
            }
            #page-sjq-XX-lout .dropbutton-action a.header-action.icon-shuffle:before {
                background-image: url("icons/shuffle.svg");
            }

            *
             * slog-toolbar

            #page-sjq-XX-lout a.slogtb-link-extra {
                position: relative;
                padding-left: 2.5em;
            }
            #page-sjq-XX-lout a.slogtb-link-extra:before {
                background-image: url("icons/cog.svg");
                background-attachment: scroll;
                background-color: transparent;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100% auto;
                content: "";
                display: block;
                height: 100%;
                left: 0.6667em;
                position: absolute;
                top: 0;
                width: 20px;
            }
            #page-sjq-XX-lout a.slogtb-link-extra.icon-table:before {
                background-image: url("icons/table.svg");
            }
            #page-sjq-XX-lout a.slogtb-link-extra.icon-table.active:before {
                background-image: url("icons/table_ivory.svg");
            }

            *
             * slogitem

            #page-sjq-XX-lout .sapp-si-toolbar-item.icon-bookmarks {
                background-image: url("icons/bookmarks.svg");
            }
            #page-sjq-XX-lout .sapp-si-toolbar-item.icon-history {
                background-image: url("icons/history-darkred.svg");
            }
            #page-sjq-XX-lout .sapp-si-toolbar-item.icon-surprise {
                background-image: url("icons/surprise-darkred.svg");
            }
            #page-sjq-XX-lout .sapp-si-toolbar-item.icon-go-back {
                background-image: url("icons/go-back.svg");
            }
            #page-sjq-XX-lout .sapp-si-toolbar-item.icon-go-list {
                background-image: url("icons/history.svg");
            }
            #page-sjq-XX-lout .sapp-si-toolbar-item.icon-go-forward {
                background-image: url("icons/go-forward.svg");
            }

            #page-sjq-XX-lout .sapp-si-toolbar-item.icon-pagebreak0 {
                background-image: url("icons/pagebreak0.svg");
            }
            #page-sjq-XX-lout .sapp-si-toolbar-item.icon-pagebreak1 {
                background-image: url("icons/pagebreak1.svg");
            }
            #page-sjq-XX-lout .sapp-si-toolbar-item.icon-pagebreak2 {
                background-image: url("icons/pagebreak2.svg");
            }
            #page-sjq-XX-lout .sapp-si-toolbar-item.icon-pagebreak3 {
                background-image: url("icons/pagebreak3.svg");
            }
            #page-sjq-XX-lout .sapp-si-toolbar-item.icon-pagebreak4 {
                background-image: url("icons/pagebreak4.svg");
            }
            #page-sjq-XX-lout .sapp-si-toolbar .sapp-si-toolbar-item.icon-maximize {
                background-image: url("icons/enlarge.svg");
            }
            #page-sjq-XX-lout.maximized .sapp-si-toolbar .sapp-si-toolbar-item.icon-maximize {
                background-image: url("icons/shrink.svg");
            }
            #lout-center .sapp-si-toolbar-item.icon-split {
                background-image: url("icons/pagebreak2.svg");
            }
            #lout-center.content-splitted .sapp-si-toolbar-item.icon-split {
                background-image: url("icons/pagebreak-remove.svg");
            }
            #lout-center .sapp-si-toolbar-item.icon-over {
                background-image: url("icons/content-over.svg");
            }
            #lout-center.content-over .sapp-si-toolbar-item.icon-over {
                background-image: url("icons/content-over-remove.svg");
            }

            #slogxt-modal-dialog ul.bookmarks li.list-bookmark.tbtop .li-title,
            #slogxt-dialog-tabs.iconized > div.tabs-item.icon-tab-tbtop,
            #page-sjq-XX-lout .sapp-si-toolbar-tabs .icon-tab-tbtop {
                background-image: url("icons/menu-top.svg");
            }
            #slogxt-modal-dialog ul.bookmarks li.list-bookmark.tbbottom .li-title,
            #slogxt-modal-dialog ul.bookmarks li.list-bookmark.tbex .li-title,
            #slogxt-dialog-tabs.iconized > div.tabs-item.icon-tab-tbex,
            #page-sjq-XX-lout .sapp-si-toolbar-tabs .icon-tab-tbbottom,
            #page-sjq-XX-lout .sapp-si-toolbar-tabs .icon-tab-tbex {
                background-image: url("icons/menu-bottom.svg");
            }
            #slogxt-modal-dialog ul.bookmarks li.list-bookmark.tbnode .li-title,
            #slogxt-dialog-tabs.iconized > div.tabs-item.icon-tab-tbnode,
            #page-sjq-XX-lout .sapp-si-toolbar-tabs .icon-tab-tbnode {
                background-image: url("icons/menu-tbnode.svg");
            }
            #slogxt-dialog-tabs.iconized > div.tabs-item.icon-tab-tcontentmain {
                background-image: url("icons/content-main.svg");
            }
            #slogxt-dialog-tabs.iconized > div.tabs-item.icon-tab-tcontentmainover {
                background-image: url("icons/content-main-over.svg");
            }
            #slogxt-dialog-tabs.iconized > div.tabs-item.icon-tab-tcontentnext {
                background-image: url("icons/content-next.svg");
            }
            #slogxt-dialog-tabs.iconized > div.tabs-item.icon-tab-tcontentnextover {
                background-image: url("icons/content-next-over.svg");
            }

            *
             * Content.View

            .slogxt-dropbutton ul.dropbutton a.sapp-link-content.icon-view:before {
                background-image: url("icons/eye.svg");
            }


            */
