#slogxt-modal-dialog-for-navigate .tabledrag-toggle-weight-wrapper,
#slogxt-modal-dialog .tabledrag-toggle-weight-wrapper {
    display: none;
}
#slogxt-modal-dialog-for-navigate .tabledrag-handle,
#slogxt-modal-dialog .tabledrag-handle {
    border: none;
}
#slogxt-modal-dialog-for-navigate tr,
#slogxt-modal-dialog tr {
    background: lavender;
}
#slogxt-modal-dialog-for-navigate td,
#slogxt-modal-dialog td {
    padding: 10px 12px;
}
