.sxt-header-wrapper {
    background-color: lavender;
    position: relative;
    padding: 0 5px;
    /*padding: 0 72px 0 5px;*/
    display: none;
}
.sxt-header-wrapper.has-dropbutton {
    padding-right: 72px;
}
.sxt-header-wrapper.has-dropbutton.dropbutton-is-single {
    padding-right: 48px;
}
.sxt-header-wrapper > .main-label {
    background: transparent;
    position: relative;
    height: 24px;
    padding-top: 14px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
.sxt-header-wrapper > .path-label {
    background: transparent;
    font-size: 11px;
    position: absolute;
    top: 2px;
    left: 5px;
    right: 5px;
    height: 17px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
}
.sxt-header-wrapper.has-dropbutton > .path-label {
    right: 72px;
}
.sxt-header-wrapper.has-dropbutton.dropbutton-is-single > .path-label {
    right: 48px;
}

/*.xt-tbline-content-block.block-search {
    height: 100%;
    padding: 10px;
    background-color: khaki;
}*/

.xt-search-tab-block > .sxt-header-wrapper {
    display: block;
}

.column.sidebar .block-search.xt-search-tab-block {
    padding: 0;
}
.block-search.xt-search-tab-block .search-form {
    padding: 20px 5px;
    min-height: 120px;
}

.messages .messages__item span {
    margin-right: 10px;
    font-style: italic;
}

#page-wrapper.sxt-enlarge-page,
#lout-c-center-content.xtsi-enlarge-content,
.stb-content.block-slogtb.xtsi-enlarge-list {
    font-size: 106% !important;
}

.stb-content.block-slogtb.xtsi-compact-list .item-list li>a {
    padding: 4px 5px;
    line-height: 1.2;
}

