/*#page-wrapper #header {
    min-height: 800px;
}*/
.xtsi-content .contextual,
.block-slogtb .contextual {
    top: 0;
    right: 60px;
}

#page-wrapper #main-wrapper {
    min-height: 480px;
}
#main #sidebar-first {
    width: 26%;
}
.region-content .block-system-main-block>.content.slogtb-test {
    padding-top: 60px;
}

