.xt-tbline-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 29px;
    background-color: lavender;
    border-bottom: 2px solid steelblue;
    position: relative;
}
.xt-tbline-wrapper .xt-tbline-group {
    padding-top: 2px;
    margin-left: 6px;
    float: right;
}
article.node #toc .mw-toc-toggler,
.xt-tbline-wrapper .xt-tbline-item {
    height: 24px;
    width: 24px;
    margin: 0 3px 0 0;
    border: 1px solid gray;
    cursor: pointer;
    float: left;
    background-color: silver;
    background-image: url("icons/cog.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;
    border-radius: 8px;
}
.xt-tbline-wrapper .xt-tbline-item.disabled {
    background-color: silver;
    opacity: 0.3;
    filter: Alpha(Opacity=30);
    cursor: auto;
}
.xt-tbline-wrapper .xt-tbline-group.xt-tbline-xttabs {
    padding: 0;
    margin: 0;
    float: none;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 0;
}
.xt-tbline-wrapper .xt-tbline-group.xt-tbline-xttabs .xt-tbline-item {
    margin: 2px 0 0;
    border-bottom: none;
    background-position: 6px 6px;
    border-radius: 12px 0 0 0;
}
.xt-tbline-wrapper .xt-tbline-group.xt-tbline-xttabs .xt-tbline-item.active {
    margin-top: 0;
    height: 26px;
    background-color: lavender;
    cursor: auto;
}
.xt-tabs-helper {
    position: absolute;
    top: 28px;
    width: 24px;
    height: 5px;
    background-color: lavender;
    z-index: 3;
}

.xt-tbline-wrapper #xt-tbtab-_sys.xt-tbline-item {
    background-image: url("icons/stack.svg");
}
.xt-tbline-wrapper .xt-tbline-group.xt-tbline-xttabs .xt-tbline-item.disabled {
    display: none;
}


