/* Toolbar */
#page-wrapper .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper .slogtb.toolbar .toolbar-bar {
    background-color: #333333;
}
#page-wrapper.sxttb-black1 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-black1 .slogtb.toolbar .toolbar-bar {
    background-color: #0f0f0f;
}
#page-wrapper .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-black2 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-black2 .slogtb.toolbar .toolbar-bar {
    background-color: #333333;
}
#page-wrapper.sxttb-black3 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-black3 .slogtb.toolbar .toolbar-bar {
    background-color: #4d4d4d;
}

#page-wrapper.sxttb-steelblue .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-steelblue .slogtb.toolbar .toolbar-bar {
    background-color: steelblue;
}
#page-wrapper.sxttb-blue1 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-blue1 .slogtb.toolbar .toolbar-bar {
    background-color: #263e6b;
}
#page-wrapper.sxttb-blue2 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-blue2 .slogtb.toolbar .toolbar-bar {
    background-color: #395c78;
}

#page-wrapper.sxttb-green1 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-green1 .slogtb.toolbar .toolbar-bar {
    background-color: #334d33;
}
#page-wrapper.sxttb-green2 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-green2 .slogtb.toolbar .toolbar-bar {
    background-color: #265926;
}

#page-wrapper.sxttb-khaki1 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-khaki1 .slogtb.toolbar .toolbar-bar {
    background-color: #353318;
}
#page-wrapper.sxttb-khaki2 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-khaki2 .slogtb.toolbar .toolbar-bar {
    background-color: #585528;
}

#page-wrapper.sxttb-chocolate1 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-chocolate1 .slogtb.toolbar .toolbar-bar {
    background-color: #42210a;
}
#page-wrapper.sxttb-chocolate2 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-chocolate2 .slogtb.toolbar .toolbar-bar {
    background-color: #6f3811;
}

#page-wrapper.sxttb-orchid1 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-orchid1 .slogtb.toolbar .toolbar-bar {
    background-color: #34103d;
}
#page-wrapper.sxttb-orchid2 .region > .slogtb-multiple-wrapper.block-slogtb,
#page-wrapper.sxttb-orchid2 .slogtb.toolbar .toolbar-bar {
    background-color: #561b65;
}

/* Dialog */
#slogxt-modal-dialog-titlebar .ui-button .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
}





body.sxtdlg-black1 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-black1 #slogxt-modal-dialog-titlebar,
body.sxtdlg-black1 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-black1 #slogxt-do-navigate-wrapper {
    background-color: #0f0f0f;
}
body.sxtdlg-black1 #slogxt-modal-dialog-widget {
    border-color: #0f0f0f;
}

body.sxtdlg-black2 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-black2 #slogxt-modal-dialog-titlebar,
body.sxtdlg-black2 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-black2 #slogxt-do-navigate-wrapper {
    background-color: #333333;
}
body.sxtdlg-black2 #slogxt-modal-dialog-widget {
    border-color: #333333;
}

body #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-black3 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-black3 #slogxt-modal-dialog-titlebar,
body.sxtdlg-black3 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-black3 #slogxt-do-navigate-wrapper {
    background-color: #4d4d4d;
}
body.sxtdlg-black3,
body.sxtdlg-black3 #slogxt-modal-dialog-widget {
    border-color: #4d4d4d;
}



body.sxtdlg-steelblue #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-steelblue #slogxt-modal-dialog-titlebar,
body.sxtdlg-steelblue #slogxt-modal-dialog-buttonpane,
body.sxtdlg-steelblue #slogxt-do-navigate-wrapper {
    background-color: steelblue;
}
body.sxtdlg-steelblue #slogxt-modal-dialog-widget {
    border-color: steelblue;
}
body.sxtdlg-blue1 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-blue1 #slogxt-modal-dialog-titlebar,
body.sxtdlg-blue1 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-blue1 #slogxt-do-navigate-wrapper {
    background-color: #263e6b;
}
body.sxtdlg-blue1 #slogxt-modal-dialog-widget {
    border-color: #263e6b;
}
body.sxtdlg-blue2 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-blue2 #slogxt-modal-dialog-titlebar,
body.sxtdlg-blue2 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-blue2 #slogxt-do-navigate-wrapper {
    background-color: #395c78;
}
body.sxtdlg-blue2 #slogxt-modal-dialog-widget {
    border-color: #395c78;
}



body.sxtdlg-green1 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-green1 #slogxt-modal-dialog-titlebar,
body.sxtdlg-green1 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-green1 #slogxt-do-navigate-wrapper {
    background-color: #334d33;
}
body.sxtdlg-green1 #slogxt-modal-dialog-widget {
    border-color: #334d33;
}

body.sxtdlg-green2 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-green2 #slogxt-modal-dialog-titlebar,
body.sxtdlg-green2 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-green2 #slogxt-do-navigate-wrapper {
    background-color: #265926;
}
body.sxtdlg-green2 #slogxt-modal-dialog-widget {
    border-color: #265926;
}



body.sxtdlg-khaki1 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-khaki1 #slogxt-modal-dialog-titlebar,
body.sxtdlg-khaki1 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-khaki1 #slogxt-do-navigate-wrapper {
    background-color: #353318;
}
body.sxtdlg-khaki1 #slogxt-modal-dialog-widget {
    border-color: #353318;
}

body.sxtdlg-khaki2 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-khaki2 #slogxt-modal-dialog-titlebar,
body.sxtdlg-khaki2 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-khaki2 #slogxt-do-navigate-wrapper {
    background-color: #585528;
}
body.sxtdlg-khaki2 #slogxt-modal-dialog-widget {
    border-color: #585528;
}



body.sxtdlg-chocolate1 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-chocolate1 #slogxt-modal-dialog-titlebar,
body.sxtdlg-chocolate1 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-chocolate1 #slogxt-do-navigate-wrapper {
    background-color: #42210a;
}
body.sxtdlg-chocolate1 #slogxt-modal-dialog-widget {
    border-color: #42210a;
}

body.sxtdlg-chocolate2 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-chocolate2 #slogxt-modal-dialog-titlebar,
body.sxtdlg-chocolate2 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-chocolate2 #slogxt-do-navigate-wrapper {
    background-color: #6f3811;
}
body.sxtdlg-chocolate2 #slogxt-modal-dialog-widget {
    border-color: #6f3811;
}


body.sxtdlg-orchid1 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-orchid1 #slogxt-modal-dialog-titlebar,
body.sxtdlg-orchid1 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-orchid1 #slogxt-do-navigate-wrapper {
    background-color: #34103d;
}
body.sxtdlg-orchid1 #slogxt-modal-dialog-widget {
    border-color: #34103d;
}

body.sxtdlg-orchid2 #slogxt-modal-dialog-widget-for-navigate,
body.sxtdlg-orchid2 #slogxt-modal-dialog-titlebar,
body.sxtdlg-orchid2 #slogxt-modal-dialog-buttonpane,
body.sxtdlg-orchid2 #slogxt-do-navigate-wrapper {
    background-color: #561b65;
}
body.sxtdlg-orchid2 #slogxt-modal-dialog-widget {
    border-color: #561b65;
}



body.sxtact-black1 #lout-center > #si-content-totop-btn,
body.sxtact-black1 #lout-center > #si-content-totop-btn > div,
body.sxtact-black1 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-black1 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-black1 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-black1 .xtsi-list .item-list ul li a.active {
    background-color: #0f0f0f;
}
body.sxtact-black2 #lout-center > #si-content-totop-btn,
body.sxtact-black2 #lout-center > #si-content-totop-btn > div,
body.sxtact-black2 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-black2 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-black2 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-black2 .xtsi-list .item-list ul li a.active {
    background-color: #333333;
}
body.sxtact-black3 #lout-center > #si-content-totop-btn,
body.sxtact-black3 #lout-center > #si-content-totop-btn > div,
body.sxtact-black3 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-black3 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-black3 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-black3 .xtsi-list .item-list ul li a.active {
    background-color: #4d4d4d;
}

body.sxtact-steelblue #lout-center > #si-content-totop-btn,
body.sxtact-steelblue #lout-center > #si-content-totop-btn > div,
body.sxtact-steelblue .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-steelblue #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-steelblue #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-steelblue .xtsi-list .item-list ul li a.active {
    background-color: steelblue;
}
body.sxtact-blue1 #lout-center > #si-content-totop-btn,
body.sxtact-blue1 #lout-center > #si-content-totop-btn > div,
body.sxtact-blue1 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-blue1 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-blue1 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-blue1 .xtsi-list .item-list ul li a.active {
    background-color: #263e6b;
}
body.sxtact-blue2 #lout-center > #si-content-totop-btn,
body.sxtact-blue2 #lout-center > #si-content-totop-btn > div,
body.sxtact-blue2 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-blue2 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-blue2 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-blue2 .xtsi-list .item-list ul li a.active {
    background-color: #395c78;
}

body.sxtact-green1 #lout-center > #si-content-totop-btn,
body.sxtact-green1 #lout-center > #si-content-totop-btn > div,
body.sxtact-green1 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-green1 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-green1 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-green1 .xtsi-list .item-list ul li a.active {
    background-color: #334d33;
}
body.sxtact-green2 #lout-center > #si-content-totop-btn,
body.sxtact-green2 #lout-center > #si-content-totop-btn > div,
body.sxtact-green2 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-green2 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-green2 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-green2 .xtsi-list .item-list ul li a.active {
    background-color: #265926;
}

body.sxtact-khaki1 #lout-center > #si-content-totop-btn,
body.sxtact-khaki1 #lout-center > #si-content-totop-btn > div,
body.sxtact-khaki1 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-khaki1 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-khaki1 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-khaki1 .xtsi-list .item-list ul li a.active {
    background-color: #353318;
}
body.sxtact-khaki2 #lout-center > #si-content-totop-btn,
body.sxtact-khaki2 #lout-center > #si-content-totop-btn > div,
body.sxtact-khaki2 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-khaki2 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-khaki2 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-khaki2 .xtsi-list .item-list ul li a.active {
    background-color: #585528;
}

body.sxtact-chocolate1 #lout-center > #si-content-totop-btn,
body.sxtact-chocolate1 #lout-center > #si-content-totop-btn > div,
body.sxtact-chocolate1 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-chocolate1 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-chocolate1 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-chocolate1 .xtsi-list .item-list ul li a.active {
    background-color: #42210a;
}
body.sxtact-chocolate2 #lout-center > #si-content-totop-btn,
body.sxtact-chocolate2 #lout-center > #si-content-totop-btn > div,
body.sxtact-chocolate2 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-chocolate2 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-chocolate2 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-chocolate2 .xtsi-list .item-list ul li a.active {
    background-color: #6f3811;
}

body.sxtact-orchid1 #lout-center > #si-content-totop-btn,
body.sxtact-orchid1 #lout-center > #si-content-totop-btn > div,
body.sxtact-orchid1 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-orchid1 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-orchid1 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-orchid1 .xtsi-list .item-list ul li a.active {
    background-color: #34103d;
}
body.sxtact-orchid2 #lout-center > #si-content-totop-btn,
body.sxtact-orchid2 #lout-center > #si-content-totop-btn > div,
body.sxtact-orchid2 .sjqlout-content.content-active .sxt-header-wrapper,
body.sxtact-orchid2 #slogxt-modal-dialog-for-navigate h2.slogxt-preview-title,
body.sxtact-orchid2 #slogxt-modal-dialog h2.slogxt-preview-title,
body.sxtact-orchid2 .xtsi-list .item-list ul li a.active {
    background-color: #561b65;
}


/* MediaWiki comments */
body.sxtmwc-gainsboro .sxt-mwcomments {
    background-color: whitesmoke;
}
body.sxtmwc-gainsboro .sxt-mwcomments .sxt-mwcomment-item h2,
body.sxtmwc-gainsboro .sxt-mwcomments .sxt-mwcomment-item h3,
body.sxtmwc-gainsboro .sxt-mwcomments .sxt-mwcomment-item h4,
body.sxtmwc-gainsboro .sxt-mwcomments .sxt-mwcomment-item h5,
body.sxtmwc-gainsboro .sxt-mwcomments .sxt-mwcomment-item h6 {
    background-color: gainsboro;
}
body.sxtmwc-gainsboro .sxt-mwcomments .sxt-mwcomment-item.level-2,
body.sxtmwc-gainsboro .sxt-mwcomments .sxt-mwcomment-item.level-3,
body.sxtmwc-gainsboro .sxt-mwcomments .sxt-mwcomment-item.level-4,
body.sxtmwc-gainsboro .sxt-mwcomments .sxt-mwcomment-item.level-5 {
    border-left: 1px solid gainsboro;
}

body.sxtmwc-tan .sxt-mwcomments {
    background-color: wheat;
}
body.sxtmwc-tan .sxt-mwcomments .sxt-mwcomment-item h2,
body.sxtmwc-tan .sxt-mwcomments .sxt-mwcomment-item h3,
body.sxtmwc-tan .sxt-mwcomments .sxt-mwcomment-item h4,
body.sxtmwc-tan .sxt-mwcomments .sxt-mwcomment-item h5,
body.sxtmwc-tan .sxt-mwcomments .sxt-mwcomment-item h6 {
    background-color: tan;
}
body.sxtmwc-tan .sxt-mwcomments .sxt-mwcomment-item.level-2,
body.sxtmwc-tan .sxt-mwcomments .sxt-mwcomment-item.level-3,
body.sxtmwc-tan .sxt-mwcomments .sxt-mwcomment-item.level-4,
body.sxtmwc-tan .sxt-mwcomments .sxt-mwcomment-item.level-5 {
    border-left: 1px solid tan;
}

