/**
 * @file
 * Styling slogxt dropbutton.
 */

.block-slogxt-main-dropbutton {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 3px 5px 0;
    display: none;
    z-index: 2000;
}
.block.block-slogxt-main-dropbutton > .contextual {
    display: none !important;
}
.block.block-slogxt-main-dropbutton > .content {
    margin: 0;
    padding: 0;
    min-height: 36px;
    min-width: 72px;
}
.dropbutton-wrapper.slogxt-dropbutton {
    position: absolute;
    top: 4px;
    right: 2px;
    width: auto;
}
.slogxt-dropbutton .dropbutton-action a:focus {
    text-decoration: none;
}

#sxtbtn-do-navigate.icon-navigate:before,
.slogxt-dropbutton .dropbutton-action a:before {
    background-image: url("icons/cog.svg");
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    display: block;
    height: 100%;
    left: 0.6667em;
    position: absolute;
    top: 0;
    width: 16px;
}
.slogxt-dropbutton .dropbutton-action a.disabled {
    opacity: 0.3;
    filter: Alpha(Opacity=30);
    cursor: auto;
}
.slogxt-dropbutton.dropbutton-multiple .dropbutton-action a {
    border: none;
    z-index: 0 !important;
}
.slogxt-dropbutton.dropbutton-single .dropbutton-widget {
    margin-right: 5px;
    border-radius: 20em;
    background-color: #f2f1eb;
}

.view-header .slogxt-dropbutton.dropbutton-single .dropbutton-widget {
    background-color: lavender;
}

/** .... */
.dropbutton-wrapper.slogxt-dropbutton .dropbutton-action a {
    position: relative;
    padding-left: 36px !important;
    text-align: left !important;
    min-width: 20px;
    font-size: 14px;
    line-height: 18px;
}
.dropbutton-wrapper.slogxt-dropbutton.dropbutton-multiple ul.dropbutton li:first-child {
    max-width: 34px;
}
.dropbutton-wrapper.slogxt-dropbutton.dropbutton-multiple.open ul.dropbutton li:first-child {
    max-width: none;
}
#block-slogxtmaindropbutton .slogxt-dropbutton .dropbutton-action a.icon-menu-create {
    display: none;
}
#block-slogxtmaindropbutton.can-menu-create .slogxt-dropbutton .dropbutton-action a.icon-menu-create {
    display: block;
}
.js .dropbutton-wrapper.slogxt-dropbutton .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0;
}



.slogxt-dropbutton .dropbutton-action a.icon-paging:before {
    background-image: url("icons/paging.svg");
}
.slogxt-dropbutton .dropbutton-widget .sxt-paging {
  display: none;
}
.slogxt-dropbutton .dropbutton-widget.sxt-paging-open .sxt-paging {
  display: block;
}
.slogxt-dropbutton .dropbutton-widget.sxt-paging-open ul.dropbutton {
  display: none;
}
.slogxt-dropbutton .dropbutton-widget .sxt-paging .sxt-pg-button {
    width: 26px;
    height: 26px;
    float: left;
    background-color: powderblue;
    background-image: url("../../slogxt/css/icons/cog.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60% auto;
    cursor: pointer;
}
.slogxt-dropbutton .dropbutton-widget .sxt-paging .sxt-pgprev {
    background-image: url("icons/previous.svg");
}
.slogxt-dropbutton .dropbutton-widget .sxt-paging .sxt-pgstop {
    background-image: url("icons/undo2.svg");
    border-left: 1px solid #787878;
    border-right: 1px solid #787878;
}
.slogxt-dropbutton .dropbutton-widget .sxt-paging .sxt-pgnext {
    background-image: url("icons/next.svg");
}

